.layout {
    display: flex;
    height: 100vh;
  }
  .page-content {
    margin-left: 250px; /* Push content to the right of sidebar */
    flex-grow: 1;
    padding: 20px;
    background: #fff;
    /* background-color: red; */
  }
  .collapsed-sidebar-page-content{
    margin-left: 90px;
  }
  .mobile-header{
    display: none;
  }
  @media screen and (max-width:653px) {
    .mobile-header{
      background-color: white;
      border-bottom: 0.5px solid #D0D5DD;
      width: 100vw;
      height: 80px;
      position: fixed;
      display: inline-flex;
      align-items: center;
      gap: 100px;
      padding: 0px 20px;
    }
    .hamburger-menu{
      cursor: pointer;
    }
    .mobile-header-text{

font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }
    .page-content{
      margin-top: 72px;
      margin-left: 0;
      /* background-color: red; */
    }
  }