@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




:root {

--font-family:"Montserrat", sans-serif;
--black-color-primary:#000000;
--theme-color-primary:#2E90FA;
--grey-color-nav-links:#64748B;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}